<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<%= link_to "Back to list", '/articles' %><br>
<%= link_to "Edit", "#{@article.id}/edit" %><br>
<%= link_to "💣",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
